/* General Styles /////////////////// */
:root {
  --primary-color: #1b9169;
  --light-color: #cfcfcf;
}

html {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  flex: 1;
}
.primary-color {
  color: var(--primary-color);
  font-weight: 600;
}
.primary-btn {
  background: transparent;
  color: var(--light-color);
  text-transform: capitalize;
  font-size: 1rem;
  padding: 15px 24px;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
}
.secondary-btn {
  background: transparent;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 0;
  border: none;
  display: flex;
  gap: 15px;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid {
  display: grid;
  gap: 25px;
}
.cols-2 {
  grid-template-columns: 1fr 1fr;
}
.cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.col-span-2 {
  grid-column: span 2;
}
.mb-10 {
  margin-bottom: 10px;
}

/* About Section Styles /////////////////// */
.exp-card {
  padding: 20px;
  border-radius: 10px;
  /* background-color: #080808; */
  border-left: 15px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  /* box-shadow: 5px 5px 10px var(--primary-color); */
}

/* Header Styles /////////////////// */
header {
  background: #000000;
  padding: 10px 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.logo {
  width: 80px;
}

/* Footer Styles /////////////////// */
footer {
  padding: 30px 0;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
}

/* Hero Styles /////////////////// */
.hero-section {
  height: 90vh;
}
.greeting {
  color: var(--primary-color);
  font-size: 1.4rem;
}
.name {
  max-width: 768px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 7rem;
  font-weight: 900;
  color: var(--light-color);
}
.tagline {
  color: var(--primary-color);
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 25px;
}

/* About Section Styles /////////////////// */
.about {
  color: var(--light-color);
  /* padding: 75px 0; */
}
.quote {
  font-size: 3rem;
  font-weight: 400;
}
